.RData
.Rhistory
NG-Das_statsV1.pdf
Intro2R.pdf
HandbookBioStatThird.pdf
next-generation-sequencing-and-data-analysis-2021.pdf
tools/
RNA_Seq_Trial/SRA_cache/
RNA_Seq_Trial/Sample_SRR/
.Rproj.user
RNA_Seq_Trial/NEB_adapters.fasta
RNA_Seq_Trial/aligned_reads/
RNA_Seq_Trial/refseq/
RNA_Seq_Trial/Analysis/
RNA_Seq_Trial/raw_reads/
RNA_Seq_Trial/trimmed_reads/
RNA_Seq_Trial/SRR_Acc_List.txt
RNA_Seq_Trial/SraRunTable.csv
10.1201_b17457_previewpdf.pdf
Ets_epigenetics/
R_Prog_Ex1
v14b01.pdf


